body{
    background-color: #02233b;
}
#container{
    width: 600px;
    height: 700px;
    margin: 0 auto;
    background: url(../images/mic.png)no-repeat right bottom;
    background-color: white;
    padding: 20px;
}
h1{
    text-align: center;
    margin: 0px;
    background-color: #004344;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
    
}
h3{
    margin-left: 20px;
    color: red;
}
ul{
    list-style: none;
}
ul li{
    margin: 20px 30px;
}